{{- $profile := promptChoiceOnce . "profile" "Machine profile" (list "personal" "work") -}}

sourceDir = "~/Developer/dotfiles"

[data]
    profile = {{ $profile | quote }}

[diff]
    exclude = ["scripts"]

[git]
    autoCommit = false
    autoPush = false
