[user]
	name = Richard Venneman
	email = richardvenneman@me.com

[credential]
	helper = osxkeychain

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
{{ if eq .profile "work" }}
[includeIf "gitdir:~/Developer/beehiiv/"]
	path = .gitconfig-beehiiv
{{- end }}
