"*":
  core:
    projectHome: "/Users/richard/Projects"
    telemetryConsent: "limited"
  editor:
    fontFamily: "Noto Mono"
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "2d988161-f935-4d35-a3cb-3355d46a1dd2"
  "linter-rubocop":
    command: "/Users/richard/.rbenv/shims/rubocop"
  "linter-stylelint": {}
  "linter-ui-default": {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
    useEslint: true
  welcome:
    showOnStartup: false
  whitespace: {}
