packages: [
  "allcontributors"
  "atom-runner"
  "atom-ternjs"
  "atom-typescript"
  "autocomplete-modules"
  "autocomplete-paths"
  "busy-signal"
  "duplicate-line-or-selection"
  "erb-snippets"
  "file-icons"
  "highlight-selected"
  "hyperclick"
  "intentions"
  "language-docker"
  "language-javascript-jsx"
  "language-markdown"
  "language-nginx"
  "language-pgsql"
  "language-postcss"
  "lint-scroll-marker"
  "linter"
  "linter-erb"
  "linter-eslint"
  "linter-js-yaml"
  "linter-rails-best-practices"
  "linter-rubocop"
  "linter-stylelint"
  "linter-tslint"
  "linter-ui-default"
  "multi-cursor"
  "package-sync"
  "pigments"
  "platformio-ide-terminal"
  "prettier-atom"
  "project-manager"
  "rails-i18n-autocomplete"
  "rails-latest-migration"
  "rails-snippets"
  "ruby-solargraph"
  "ruby-test"
  "scroll-marker"
  "Sublime-Style-Column-Selection"
  "toggle-quotes"
]
