packages: [
  "atom-ternjs"
  "autocomplete-modules"
  "autocomplete-paths"
  "busy-signal"
  "duplicate-line-or-selection"
  "erb-snippets"
  "file-icons"
  "highlight-selected"
  "intentions"
  "language-javascript-jsx"
  "linter"
  "linter-eslint"
  "linter-js-yaml"
  "linter-rubocop"
  "linter-ruby"
  "linter-stylelint"
  "linter-ui-default"
  "multi-cursor"
  "package-sync"
  "pigments"
  "prettier-atom"
  "rails-snippets"
  "Sublime-Style-Column-Selection"
  "toggle-quotes"
]
